Social_media_automationblueprint.json
{
    "name": "Social Media Publication Automation",
    "flow": [
        {
            "id": 8,
            "module": "gateway:CustomMailHook",
            "version": 1,
            "parameters": {
                "hook": 968445,
                "maxResults": 10
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -820,
                    "y": -73
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My gateway-mailhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-mailhook",
                        "label": "Mailhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2953994
            },
            "filter": {
                "name": "aas",
                "conditions": []
            },
            "mapper": {
                "base": "appuyLNpQycJxvJvW",
                "table": "tbli5dnGWR4BhwRVu",
                "record": {
                    "fldGoQul1LJOfAs2N": "\"{{8.from}}\"",
                    "flde8SyK4AJSrfngh": "\"{{8.text}}\"",
                    "fldftD4HIUxw4gpkz": "{{8.date}}",
                    "fldwn4BqQJq8KmTIo": "Todo"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -546,
                    "y": 113
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "testBase"
                        },
                        "table": {
                            "label": "NewsTab",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldftD4HIUxw4gpkz",
                                            "time": true,
                                            "type": "date",
                                            "label": "Date"
                                        },
                                        {
                                            "name": "flde8SyK4AJSrfngh",
                                            "type": "text",
                                            "label": "News",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldGoQul1LJOfAs2N",
                                            "type": "text",
                                            "label": "Sources"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldwn4BqQJq8KmTIo",
                                            "type": "select",
                                            "label": "Status",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "Todo",
                                                    "value": "Todo"
                                                },
                                                {
                                                    "label": "In progress",
                                                    "value": "In progress"
                                                },
                                                {
                                                    "label": "Done",
                                                    "value": "Done"
                                                }
                                            ],
                                            "validate": false
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldwn4BqQJq8KmTIo": {
                                    "mode": "chose",
                                    "label": "Todo"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usrgrbWlO6ArPMugb)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldftD4HIUxw4gpkz",
                                "time": true,
                                "type": "date",
                                "label": "Date"
                            },
                            {
                                "name": "flde8SyK4AJSrfngh",
                                "type": "text",
                                "label": "News"
                            },
                            {
                                "name": "fldGoQul1LJOfAs2N",
                                "type": "text",
                                "label": "Sources"
                            },
                            {
                                "mode": "edit",
                                "name": "fldwn4BqQJq8KmTIo",
                                "type": "select",
                                "label": "Status"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Date",
                        "time": true,
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "News",
                        "type": "text",
                        "label": "News",
                        "multiline": true
                    },
                    {
                        "name": "Sources",
                        "type": "text",
                        "label": "Sources"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2953432
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are an AI assistant specialized in creating engaging and informative Instagram posts. Your task is to summarize the latest AI news from a newsletter email into a concise, attention-grabbing post suitable for Instagram that can be read in 60 seconds or less. Follow these guidelines:\n\n1. Create a catchy headline that highlights the most significant AI news of the day (max 10 words).\n2. Summarize 2-3 key points from the newsletter, focusing on AI-related developments.\n3. Use one emoji for each point for visual appeal.\n4. Keep the main content between 70-90 words to ensure a 60-second read time.\n5. Include 2-3 relevant hashtags after the main content.\n6. Use short, punchy sentences and bullet points for quick readability.\n7. Maintain a professional yet friendly tone that appeals to tech enthusiasts and general audiences alike.\n8. If sources are mentioned in the newsletter, list them at the very end of the post under a \"Sources:\" heading. Keep this section brief, using abbreviations if necessary (e.g., \"NYT\" for New York Times).\n9. The total word count, including sources, should not exceed 120 words.\n\n\n\n​"
                    },
                    {
                        "role": "user",
                        "content": "Please summarize the following newsletter content into an Instagram post about today's AI news. Focus on the most relevant and exciting AI-related developments mentioned in the newsletter. Remember to follow the guidelines provided in the system prompt, including the use of emojis, hashtags, the specified word count for a 60-second read, and listing any sources mentioned in the newsletter.\n\n{{9.News}}"
                    }
                ],
                "max_tokens": "0",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": -401,
                    "y": -242
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2953994
            },
            "mapper": {
                "base": "appuyLNpQycJxvJvW",
                "table": "tblXD2bkF95I7d81U",
                "record": {
                    "fldGUUOEXAuOJ220m": [
                        "{{9.id}}"
                    ],
                    "fldLfrPPAWnD1pZkY": "Review",
                    "fldkfdPYWJSTMSsMX": "{{11.result}}",
                    "fldw5OEwiEWu5JO5L": "Text"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -234,
                    "y": 54
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "testBase"
                        },
                        "table": {
                            "label": "Social",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldkfdPYWJSTMSsMX",
                                            "type": "text",
                                            "label": "Contenu",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldGUUOEXAuOJ220m",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "newsTab"
                                        },
                                        {
                                            "name": "fldERtmfz2FRKeI3H",
                                            "spec": {
                                                "mode": "edit",
                                                "type": "select",
                                                "label": "Value",
                                                "dynamic": true,
                                                "options": [
                                                    {
                                                        "label": "Instagram",
                                                        "value": "Instagram"
                                                    },
                                                    {
                                                        "label": "LinkedIN",
                                                        "value": "LinkedIN"
                                                    },
                                                    {
                                                        "label": "Twitter(X)",
                                                        "value": "Twitter(X)"
                                                    },
                                                    {
                                                        "label": "Facebook",
                                                        "value": "Facebook"
                                                    }
                                                ],
                                                "validate": false
                                            },
                                            "type": "array",
                                            "label": "Platform"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldw5OEwiEWu5JO5L",
                                            "type": "select",
                                            "label": "Type",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "Text",
                                                    "value": "Text"
                                                },
                                                {
                                                    "label": "Image",
                                                    "value": "Image"
                                                },
                                                {
                                                    "label": "Video",
                                                    "value": "Video"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldLfrPPAWnD1pZkY",
                                            "type": "select",
                                            "label": "Status",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "Review",
                                                    "value": "Review"
                                                },
                                                {
                                                    "label": "Approuved",
                                                    "value": "Approuved"
                                                },
                                                {
                                                    "label": "Published",
                                                    "value": "Published"
                                                }
                                            ],
                                            "validate": false
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldERtmfz2FRKeI3H": {
                                    "mode": "chose"
                                },
                                "fldGUUOEXAuOJ220m": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "fldLfrPPAWnD1pZkY": {
                                    "mode": "chose",
                                    "label": "Review"
                                },
                                "fldw5OEwiEWu5JO5L": {
                                    "mode": "chose",
                                    "label": "Text"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "My Airtable OAuth connection (User ID: usrgrbWlO6ArPMugb)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldkfdPYWJSTMSsMX",
                                "type": "text",
                                "label": "Contenu"
                            },
                            {
                                "name": "fldGUUOEXAuOJ220m",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "newsTab"
                            },
                            {
                                "name": "fldERtmfz2FRKeI3H",
                                "spec": {
                                    "mode": "edit",
                                    "name": "value",
                                    "type": "select",
                                    "label": "Value",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "Instagram",
                                            "value": "Instagram"
                                        },
                                        {
                                            "label": "LinkedIN",
                                            "value": "LinkedIN"
                                        },
                                        {
                                            "label": "Twitter(X)",
                                            "value": "Twitter(X)"
                                        },
                                        {
                                            "label": "Facebook",
                                            "value": "Facebook"
                                        }
                                    ],
                                    "validate": false
                                },
                                "type": "array",
                                "label": "Platform"
                            },
                            {
                                "mode": "edit",
                                "name": "fldw5OEwiEWu5JO5L",
                                "type": "select",
                                "label": "Type"
                            },
                            {
                                "mode": "edit",
                                "name": "fldLfrPPAWnD1pZkY",
                                "type": "select",
                                "label": "Status"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Social ID",
                        "type": "number",
                        "label": "Social ID"
                    },
                    {
                        "name": "Contenu",
                        "type": "text",
                        "label": "Contenu",
                        "multiline": true
                    },
                    {
                        "name": "newsTab",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "newsTab"
                    },
                    {
                        "name": "Platform",
                        "type": "array",
                        "label": "Platform",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Date de création",
                        "type": "date",
                        "label": "Date de création"
                    },
                    {
                        "name": "Dernière modification",
                        "type": "date",
                        "label": "Dernière modification"
                    }
                ]
            }
        },
        {
            "id": 66,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 135,
                    "y": -211
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 59,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2953432
                            },
                            "mapper": {
                                "model": "gpt-4o-mini",
                                "top_p": "1",
                                "select": "chat",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "You are an AI assistant specialized in creating engaging and informative Instagram Reels scripts. Your task is to transform AI news content into a concise, attention-grabbing 59-second max script suitable for Instagram Reels. Follow these guidelines:\n\n1. Create a script that can be narrated in exactly 59 seconds max when read at a normal pace.\n2. Start with a hook that grabs the viewer's attention in the first 5 seconds.\n3. Structure the script in 3-4 main points or segments, flowing naturally without explicit pauses.\n4. Use simple, conversational language that's easy to follow when listening.\n5. End with a call-to-action or thought-provoking question.\n6. Aim for approximately 150-180 words total (based on average speaking speed).\n7. Maintain an enthusiastic and engaging tone throughout.\n8. Use emojis sparingly to add visual interest to the text.\n9. Do not include any visual cues, overlays, call-to-action text, or \"[Pause]\" indicators. Focus solely on the continuous spoken script.\n\n​"
                                    },
                                    {
                                        "role": "user",
                                        "content": "Please create a 59-second max Instagram Reels script based on the following AI news content. Follow the guidelines in the system prompt to ensure the script is engaging, informative, and perfectly timed for a Reels video. Provide only the spoken script without any formatting, visual cues, or pauses. Here's the content to base your script on:\n\n\"{{9.News}}\"\n\nRemember to focus on the most exciting and relevant points that will capture the audience's attention on Instagram Reels, creating a smooth, continuous narrative."
                                    }
                                ],
                                "max_tokens": "0",
                                "temperature": "1",
                                "n_completions": "1",
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 199,
                                    "y": 613
                                },
                                "restore": {
                                    "expect": {
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "gpt-4o-mini (system)"
                                        },
                                        "select": {
                                            "label": "Create a Chat Completion (GPT Models)"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    }
                                                }
                                            ]
                                        },
                                        "logit_bias": {
                                            "mode": "chose"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "number",
                                        "label": "Max Tokens",
                                        "required": true
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "logit_bias",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "token",
                                                    "type": "text",
                                                    "label": "Token ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "probability",
                                                    "type": "number",
                                                    "label": "Probability",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 100,
                                                        "min": -100
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Token Probability"
                                        },
                                        "type": "array",
                                        "label": "Token Probability"
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "stop",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter"
                                        },
                                        "type": "array",
                                        "label": "Other Input Parameters"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": [
                                                        {
                                                            "label": "System",
                                                            "value": "system"
                                                        },
                                                        {
                                                            "label": "User",
                                                            "value": "user"
                                                        },
                                                        {
                                                            "label": "Assistant",
                                                            "value": "assistant"
                                                        }
                                                    ],
                                                    "required": true
                                                },
                                                {
                                                    "name": "content",
                                                    "type": "text",
                                                    "label": "Message Content"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 61,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2953994
                            },
                            "mapper": {
                                "base": "appuyLNpQycJxvJvW",
                                "table": "tbldPDr3Zpz1ubKBS",
                                "record": {
                                    "fld1r25yUcRWonBUW": "Review",
                                    "fldArO5HgZmc9Q4mV": "{{59.result}}",
                                    "fldMhpUfCUqNsHqFJ": "Text",
                                    "fldW6v4nhQY760EAk": [
                                        "{{9.id}}"
                                    ]
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 487,
                                    "y": 368
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "testBase"
                                        },
                                        "table": {
                                            "label": "InstaReels",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldArO5HgZmc9Q4mV",
                                                            "type": "text",
                                                            "label": "Script",
                                                            "multiline": true
                                                        },
                                                        {
                                                            "name": "fldW6v4nhQY760EAk",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "newsTab"
                                                        },
                                                        {
                                                            "name": "fldU34CYTi9a7ckDF",
                                                            "spec": {
                                                                "mode": "edit",
                                                                "type": "select",
                                                                "label": "Value",
                                                                "dynamic": true,
                                                                "options": [
                                                                    {
                                                                        "label": "Instagram",
                                                                        "value": "Instagram"
                                                                    },
                                                                    {
                                                                        "label": "LinkedIN",
                                                                        "value": "LinkedIN"
                                                                    },
                                                                    {
                                                                        "label": "Twitter(X)",
                                                                        "value": "Twitter(X)"
                                                                    },
                                                                    {
                                                                        "label": "Facebook",
                                                                        "value": "Facebook"
                                                                    }
                                                                ],
                                                                "validate": false
                                                            },
                                                            "type": "array",
                                                            "label": "Platform"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldMhpUfCUqNsHqFJ",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Text",
                                                                    "value": "Text"
                                                                },
                                                                {
                                                                    "label": "Image",
                                                                    "value": "Image"
                                                                },
                                                                {
                                                                    "label": "Video",
                                                                    "value": "Video"
                                                                }
                                                            ],
                                                            "validate": false
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fld1r25yUcRWonBUW",
                                                            "type": "select",
                                                            "label": "Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Review",
                                                                    "value": "Review"
                                                                },
                                                                {
                                                                    "label": "Approuved",
                                                                    "value": "Approuved"
                                                                },
                                                                {
                                                                    "label": "Published",
                                                                    "value": "Published"
                                                                }
                                                            ],
                                                            "validate": false
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fld1r25yUcRWonBUW": {
                                                    "mode": "chose",
                                                    "label": "Review"
                                                },
                                                "fldMhpUfCUqNsHqFJ": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                },
                                                "fldU34CYTi9a7ckDF": {
                                                    "mode": "chose"
                                                },
                                                "fldW6v4nhQY760EAk": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable3"
                                            },
                                            "label": "My Airtable OAuth connection (User ID: usrgrbWlO6ArPMugb)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldArO5HgZmc9Q4mV",
                                                "type": "text",
                                                "label": "Script"
                                            },
                                            {
                                                "name": "fldW6v4nhQY760EAk",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "newsTab"
                                            },
                                            {
                                                "name": "fldU34CYTi9a7ckDF",
                                                "spec": {
                                                    "mode": "edit",
                                                    "name": "value",
                                                    "type": "select",
                                                    "label": "Value",
                                                    "dynamic": true,
                                                    "options": [
                                                        {
                                                            "label": "Instagram",
                                                            "value": "Instagram"
                                                        },
                                                        {
                                                            "label": "LinkedIN",
                                                            "value": "LinkedIN"
                                                        },
                                                        {
                                                            "label": "Twitter(X)",
                                                            "value": "Twitter(X)"
                                                        },
                                                        {
                                                            "label": "Facebook",
                                                            "value": "Facebook"
                                                        }
                                                    ],
                                                    "validate": false
                                                },
                                                "type": "array",
                                                "label": "Platform"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldMhpUfCUqNsHqFJ",
                                                "type": "select",
                                                "label": "Type"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fld1r25yUcRWonBUW",
                                                "type": "select",
                                                "label": "Status"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Social ID",
                                        "type": "number",
                                        "label": "Social ID"
                                    },
                                    {
                                        "name": "Script",
                                        "type": "text",
                                        "label": "Script",
                                        "multiline": true
                                    },
                                    {
                                        "name": "newsTab",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "newsTab"
                                    },
                                    {
                                        "name": "Platform",
                                        "type": "array",
                                        "label": "Platform",
                                        "dynamic": true,
                                        "editable": true
                                    },
                                    {
                                        "name": "Type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "Status",
                                        "type": "text",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "Date de création",
                                        "type": "date",
                                        "label": "Date de création"
                                    },
                                    {
                                        "name": "Dernière modification",
                                        "type": "date",
                                        "label": "Dernière modification"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 56,
                            "module": "regexp:Replace",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "{{61.Script}}",
                                "value": "  ",
                                "global": false,
                                "pattern": "(?<=🎤\\s*\\*\\*Script:\\*\\*\\s*)[\\s\\S]+?(?=\\s*\\*\\*\\[Visual:)",
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 787,
                                    "y": 220
                                },
                                "restore": {
                                    "expect": {
                                        "global": {
                                            "mode": "chose"
                                        },
                                        "multiline": {
                                            "mode": "chose"
                                        },
                                        "sensitive": {
                                            "mode": "chose"
                                        },
                                        "singleline": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "New value"
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 46,
                            "module": "elevenlabs:createTextToSpeech",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2967863
                            },
                            "mapper": {
                                "text": "{{56.text}}",
                                "model_id": "eleven_multilingual_v2",
                                "voice_id": "EXAVITQu4vr4xnSDxMaL",
                                "voice_settings": {}
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1067,
                                    "y": 429
                                },
                                "restore": {
                                    "expect": {
                                        "model_id": {
                                            "mode": "chose",
                                            "label": "Eleven Multilingual v2 (eleven_multilingual_v2)"
                                        },
                                        "voice_id": {
                                            "mode": "chose",
                                            "label": "premade/Sarah"
                                        },
                                        "optimize_streaming_latency": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "elevenlabs"
                                            },
                                            "label": "My ElevenLabs connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:elevenlabs",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "voice_id",
                                        "type": "select",
                                        "label": "Voice",
                                        "required": true
                                    },
                                    {
                                        "name": "model_id",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "voice_settings",
                                        "spec": [
                                            {
                                                "name": "stability",
                                                "type": "number",
                                                "label": "Stability",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "similarity_boost",
                                                "type": "number",
                                                "label": "Similarity Boost",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Voice Settings"
                                    },
                                    {
                                        "name": "optimize_streaming_latency",
                                        "type": "select",
                                        "label": "Optimize Streaming Latency",
                                        "validate": {
                                            "enum": [
                                                "0",
                                                "1",
                                                "2",
                                                "3",
                                                "4"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 47,
                            "module": "google-drive:uploadAFile",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 2968125
                            },
                            "mapper": {
                                "data": "{{46.data}}",
                                "select": "map",
                                "convert": false,
                                "filename": "{{46.fileName}}",
                                "folderId": "1CTYnmR8T4sBMOdaSG7RxhxKNwSsdUaw3"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1417,
                                    "y": 442
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Enter manually"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (abdoulaye.diop@stellaintelligence.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Folder ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "value"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "New File Name"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "convert",
                                        "type": "boolean",
                                        "label": "Convert a File",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "text",
                                        "label": "Folder ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 48,
                            "module": "google-drive:shareAFileFolder",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 2968125
                            },
                            "mapper": {
                                "file": "{{47.id}}",
                                "role": "reader",
                                "type": "anyone",
                                "select": "file",
                                "destination": "drive",
                                "allowFileDiscovery": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1610,
                                    "y": 19
                                },
                                "restore": {
                                    "expect": {
                                        "file": {
                                            "mode": "edit",
                                            "path": []
                                        },
                                        "role": {
                                            "mode": "chose",
                                            "label": "Reader"
                                        },
                                        "type": {
                                            "mode": "chose",
                                            "label": "Anyone"
                                        },
                                        "select": {
                                            "label": "File"
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        },
                                        "allowFileDiscovery": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (abdoulaye.diop@stellaintelligence.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "file",
                                                "folder"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "role",
                                        "type": "select",
                                        "label": "Role",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "owner",
                                                "writer",
                                                "commenter",
                                                "reader"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "user",
                                                "group",
                                                "domain",
                                                "anyone"
                                            ]
                                        }
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "file",
                                        "type": "file",
                                        "label": "File ID",
                                        "required": true
                                    },
                                    {
                                        "name": "allowFileDiscovery",
                                        "type": "boolean",
                                        "label": "Allow File Discovery",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "fileId",
                                        "type": "text",
                                        "label": "File ID"
                                    },
                                    {
                                        "name": "kind",
                                        "type": "text",
                                        "label": "Kind"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Permission ID"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "shareLink",
                                        "type": "url",
                                        "label": "Share Link"
                                    },
                                    {
                                        "name": "emailAddress",
                                        "type": "text",
                                        "label": "Email Address"
                                    },
                                    {
                                        "name": "domain",
                                        "type": "text",
                                        "label": "Domain"
                                    },
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "allowFileDiscovery",
                                        "type": "boolean",
                                        "label": "Allow File Discovery"
                                    },
                                    {
                                        "name": "displayName",
                                        "type": "text",
                                        "label": "Display Name"
                                    },
                                    {
                                        "name": "photoLink",
                                        "type": "text",
                                        "label": "Photo Link"
                                    },
                                    {
                                        "name": "expirationTime",
                                        "type": "date",
                                        "label": "Expiration Time"
                                    },
                                    {
                                        "name": "teamDrivePermissionDetails",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "teamDrivePermissionType",
                                                    "type": "text",
                                                    "label": "Team Drive Permission Type"
                                                },
                                                {
                                                    "name": "role",
                                                    "type": "text",
                                                    "label": "Role"
                                                },
                                                {
                                                    "name": "inheritedFrom",
                                                    "type": "text",
                                                    "label": "Inherited From"
                                                },
                                                {
                                                    "name": "inherited",
                                                    "type": "boolean",
                                                    "label": "Inherited"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Team Drive Permission Details"
                                    },
                                    {
                                        "name": "permissionDetails",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "permissionType",
                                                    "type": "text",
                                                    "label": "Permission Type"
                                                },
                                                {
                                                    "name": "role",
                                                    "type": "text",
                                                    "label": "Role"
                                                },
                                                {
                                                    "name": "inheritedFrom",
                                                    "type": "text",
                                                    "label": "Inherited From"
                                                },
                                                {
                                                    "name": "inherited",
                                                    "type": "boolean",
                                                    "label": "Inherited"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Permission Details"
                                    },
                                    {
                                        "name": "deleted",
                                        "type": "boolean",
                                        "label": "Deleted"
                                    },
                                    {
                                        "name": "pendingOwner",
                                        "type": "boolean",
                                        "label": "Pending Owner"
                                    },
                                    {
                                        "name": "webContentLink",
                                        "type": "url",
                                        "label": "Web Content Link"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 50,
                            "module": "json2video:createSlideshowWithAudio",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3048724
                            },
                            "mapper": {
                                "slides": [
                                    {
                                        "url": "https://drive.google.com/file/d/16PhwU-52SrJX-y_sD7Yysqk5eINyVBEm/view?usp=sharing",
                                        "type": "video",
                                        "zoom": "0",
                                        "duration": "59"
                                    }
                                ],
                                "resolution": "instagram-story",
                                "background_audio": "{{48.shareLink}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 532
                                },
                                "restore": {
                                    "expect": {
                                        "slides": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "type": {
                                                        "mode": "chose",
                                                        "label": "video"
                                                    },
                                                    "zoom": {
                                                        "mode": "chose",
                                                        "label": "No zoom"
                                                    }
                                                }
                                            ]
                                        },
                                        "resolution": {
                                            "mode": "chose",
                                            "label": "1080x1920 - Vertical"
                                        },
                                        "client_data": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "json2video"
                                            },
                                            "label": "My JSON2Video connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:json2video",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "resolution",
                                        "type": "select",
                                        "label": "Output video resolution",
                                        "validate": {
                                            "enum": [
                                                "full-hd",
                                                "instagram-story",
                                                "squared",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "slides",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "options": [
                                                    {
                                                        "label": "image",
                                                        "value": "image"
                                                    },
                                                    {
                                                        "label": "video",
                                                        "value": "video"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "url",
                                                "type": "text",
                                                "label": "Url"
                                            },
                                            {
                                                "name": "zoom",
                                                "type": "select",
                                                "label": "Zoom",
                                                "options": [
                                                    {
                                                        "label": "Zoom out",
                                                        "value": "-2"
                                                    },
                                                    {
                                                        "label": "No zoom",
                                                        "value": "0"
                                                    },
                                                    {
                                                        "label": "Zoom in",
                                                        "value": "2"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "duration",
                                                "type": "number",
                                                "label": "Duration"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Slides"
                                    },
                                    {
                                        "name": "background_audio",
                                        "type": "text",
                                        "label": "Background audio"
                                    },
                                    {
                                        "name": "make_webhook_url",
                                        "type": "text",
                                        "label": "Webhook URL"
                                    },
                                    {
                                        "name": "client_data",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Client data"
                                    },
                                    {
                                        "name": "resolution",
                                        "type": "select",
                                        "label": "Output video resolution",
                                        "validate": {
                                            "enum": [
                                                "full-hd",
                                                "instagram-story",
                                                "squared",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "slides",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Type",
                                                "options": [
                                                    {
                                                        "label": "image",
                                                        "value": "image"
                                                    },
                                                    {
                                                        "label": "video",
                                                        "value": "video"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "url",
                                                "type": "text",
                                                "label": "Url"
                                            },
                                            {
                                                "name": "zoom",
                                                "type": "select",
                                                "label": "Zoom",
                                                "options": [
                                                    {
                                                        "label": "Zoom out",
                                                        "value": "-2"
                                                    },
                                                    {
                                                        "label": "No zoom",
                                                        "value": "0"
                                                    },
                                                    {
                                                        "label": "Zoom in",
                                                        "value": "2"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "duration",
                                                "type": "number",
                                                "label": "Duration"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Slides"
                                    },
                                    {
                                        "name": "background_audio",
                                        "type": "text",
                                        "label": "Background audio"
                                    },
                                    {
                                        "name": "make_webhook_url",
                                        "type": "text",
                                        "label": "Webhook URL"
                                    },
                                    {
                                        "name": "client_data",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Client data"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 52,
                            "module": "json2video:waitForAMovieToRender",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3048724
                            },
                            "mapper": {
                                "project": "{{50.project}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1959,
                                    "y": 106
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "json2video"
                                            },
                                            "label": "My JSON2Video connection (abdoulayediarafdiop@gmail.com - admin)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:json2video",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "project",
                                        "type": "text",
                                        "label": "Project ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 53,
                            "module": "json2video:addAutomaticSubtitlesFromAudio",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3048724
                            },
                            "mapper": {
                                "video_url": "{{52.movie.url}}",
                                "mute_video": false,
                                "resolution": "instagram-story",
                                "trim_video": "-1",
                                "font_family": "Libre Baskerville"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2202,
                                    "y": 472
                                },
                                "restore": {
                                    "expect": {
                                        "position": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "mute_video": {
                                            "mode": "chose"
                                        },
                                        "resolution": {
                                            "mode": "chose",
                                            "label": "1080x1920 - Vertical"
                                        },
                                        "trim_video": {
                                            "mode": "chose",
                                            "label": "No"
                                        },
                                        "client_data": {
                                            "mode": "chose"
                                        },
                                        "font_family": {
                                            "mode": "chose",
                                            "label": "Libre Baskerville"
                                        },
                                        "voice_language": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "json2video"
                                            },
                                            "label": "My JSON2Video connection (abdoulayediarafdiop@gmail.com - admin)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:json2video",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "resolution",
                                        "type": "select",
                                        "label": "Output video resolution",
                                        "validate": {
                                            "enum": [
                                                "full-hd",
                                                "instagram-story",
                                                "squared",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "video_url",
                                        "type": "text",
                                        "label": "Video url"
                                    },
                                    {
                                        "name": "mute_video",
                                        "type": "boolean",
                                        "label": "Mute video"
                                    },
                                    {
                                        "name": "audio_url",
                                        "type": "text",
                                        "label": "Audio url"
                                    },
                                    {
                                        "name": "voice_language",
                                        "type": "select",
                                        "label": "Voice language",
                                        "validate": {
                                            "enum": [
                                                "en",
                                                "ca",
                                                "zh",
                                                "zh-TW",
                                                "da",
                                                "nl",
                                                "fr",
                                                "fi",
                                                "de",
                                                "el",
                                                "hi",
                                                "hi-Latn",
                                                "id",
                                                "it",
                                                "ja",
                                                "ko",
                                                "ms",
                                                "pt",
                                                "pt-BR",
                                                "ru",
                                                "es",
                                                "es-419",
                                                "sv",
                                                "th",
                                                "tr",
                                                "uk",
                                                "vi"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "trim_video",
                                        "type": "select",
                                        "label": "Trim video",
                                        "validate": {
                                            "enum": [
                                                "-2",
                                                "-1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "font_family",
                                        "type": "select",
                                        "label": "Font family",
                                        "validate": {
                                            "enum": [
                                                "Arial",
                                                "Libre Baskerville",
                                                "Lobster",
                                                "Luckiest Guy",
                                                "Nanum Pen Script",
                                                "Nunito",
                                                "Pacifico",
                                                "Roboto",
                                                "Korean",
                                                "Korean Bold",
                                                "Chinese Simplified",
                                                "Chinese Traditional"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "font_size",
                                        "type": "number",
                                        "label": "Font size"
                                    },
                                    {
                                        "name": "word_color",
                                        "type": "text",
                                        "label": "Word color"
                                    },
                                    {
                                        "name": "line_color",
                                        "type": "text",
                                        "label": "Line color"
                                    },
                                    {
                                        "name": "outline_width",
                                        "type": "number",
                                        "label": "Outline width"
                                    },
                                    {
                                        "name": "position",
                                        "type": "select",
                                        "label": "Position",
                                        "validate": {
                                            "enum": [
                                                "top-left",
                                                "top-center",
                                                "top-right",
                                                "center-left",
                                                "center-center",
                                                "center-right",
                                                "bottom-left",
                                                "bottom-center",
                                                "bottom-right",
                                                "mid-bottom-center",
                                                "mid-top-center"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "make_webhook_url",
                                        "type": "text",
                                        "label": "Webhook URL"
                                    },
                                    {
                                        "name": "client_data",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Client data"
                                    },
                                    {
                                        "name": "resolution",
                                        "type": "select",
                                        "label": "Output video resolution",
                                        "validate": {
                                            "enum": [
                                                "full-hd",
                                                "instagram-story",
                                                "squared",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "video_url",
                                        "type": "text",
                                        "label": "Video url"
                                    },
                                    {
                                        "name": "mute_video",
                                        "type": "boolean",
                                        "label": "Mute video"
                                    },
                                    {
                                        "name": "audio_url",
                                        "type": "text",
                                        "label": "Audio url"
                                    },
                                    {
                                        "name": "voice_language",
                                        "type": "select",
                                        "label": "Voice language",
                                        "validate": {
                                            "enum": [
                                                "en",
                                                "ca",
                                                "zh",
                                                "zh-TW",
                                                "da",
                                                "nl",
                                                "fr",
                                                "fi",
                                                "de",
                                                "el",
                                                "hi",
                                                "hi-Latn",
                                                "id",
                                                "it",
                                                "ja",
                                                "ko",
                                                "ms",
                                                "pt",
                                                "pt-BR",
                                                "ru",
                                                "es",
                                                "es-419",
                                                "sv",
                                                "th",
                                                "tr",
                                                "uk",
                                                "vi"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "trim_video",
                                        "type": "select",
                                        "label": "Trim video",
                                        "validate": {
                                            "enum": [
                                                "-2",
                                                "-1"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "font_family",
                                        "type": "select",
                                        "label": "Font family",
                                        "validate": {
                                            "enum": [
                                                "Arial",
                                                "Libre Baskerville",
                                                "Lobster",
                                                "Luckiest Guy",
                                                "Nanum Pen Script",
                                                "Nunito",
                                                "Pacifico",
                                                "Roboto",
                                                "Korean",
                                                "Korean Bold",
                                                "Chinese Simplified",
                                                "Chinese Traditional"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "font_size",
                                        "type": "number",
                                        "label": "Font size"
                                    },
                                    {
                                        "name": "word_color",
                                        "type": "text",
                                        "label": "Word color"
                                    },
                                    {
                                        "name": "line_color",
                                        "type": "text",
                                        "label": "Line color"
                                    },
                                    {
                                        "name": "outline_width",
                                        "type": "number",
                                        "label": "Outline width"
                                    },
                                    {
                                        "name": "position",
                                        "type": "select",
                                        "label": "Position",
                                        "validate": {
                                            "enum": [
                                                "top-left",
                                                "top-center",
                                                "top-right",
                                                "center-left",
                                                "center-center",
                                                "center-right",
                                                "bottom-left",
                                                "bottom-center",
                                                "bottom-right",
                                                "mid-bottom-center",
                                                "mid-top-center"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "make_webhook_url",
                                        "type": "text",
                                        "label": "Webhook URL"
                                    },
                                    {
                                        "name": "client_data",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Client data"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 55,
                            "module": "json2video:waitForAMovieToRender",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3048724
                            },
                            "mapper": {
                                "project": "{{53.project}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2409,
                                    "y": 71
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "json2video"
                                            },
                                            "label": "My JSON2Video connection (abdoulayediarafdiop@gmail.com - admin)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:json2video",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "project",
                                        "type": "text",
                                        "label": "Project ID",
                                        "required": true
                                    },
                                    {
                                        "name": "project",
                                        "type": "text",
                                        "label": "Project ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 54,
                            "module": "instagram-business:CreateAReelPost",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2957559
                            },
                            "mapper": {
                                "caption": "{{18.Contenu}}",
                                "accountId": "17841445809272047",
                                "video_url": "{{55.movie.url}}",
                                "share_to_feed": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2645,
                                    "y": 425
                                },
                                "restore": {
                                    "expect": {
                                        "accountId": {
                                            "mode": "chose",
                                            "label": "StellaIntelligence (@tomorrowlogies)"
                                        },
                                        "share_to_feed": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "Instagram connection (Raf Diop)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "video_url",
                                        "type": "url",
                                        "label": "Video URL",
                                        "required": true
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": "Caption"
                                    },
                                    {
                                        "name": "thumb_offset",
                                        "type": "number",
                                        "label": "Cover Frame"
                                    },
                                    {
                                        "name": "location_id",
                                        "type": "text",
                                        "label": "Location ID"
                                    },
                                    {
                                        "name": "share_to_feed",
                                        "type": "boolean",
                                        "label": "Share to Feed",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 72,
                            "module": "regexp:Replace",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "{{18.Contenu}}",
                                "value": "   ",
                                "global": false,
                                "pattern": "[#*]+",
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 306,
                                    "y": -835
                                },
                                "restore": {
                                    "expect": {
                                        "global": {
                                            "mode": "chose"
                                        },
                                        "multiline": {
                                            "mode": "chose"
                                        },
                                        "sensitive": {
                                            "mode": "chose"
                                        },
                                        "singleline": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "New value"
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 57,
                            "module": "linkedin:CreatePost",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2958366
                            },
                            "mapper": {
                                "content": "{{72.text}}",
                                "visibility": "PUBLIC",
                                "feedDistribution": "MAIN_FEED",
                                "isReshareDisabledByAuthor": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 902,
                                    "y": -896
                                },
                                "restore": {
                                    "expect": {
                                        "type": {
                                            "mode": "chose",
                                            "empty": true
                                        },
                                        "mentions": {
                                            "mode": "chose"
                                        },
                                        "visibility": {
                                            "mode": "chose",
                                            "label": "Public"
                                        },
                                        "feedDistribution": {
                                            "mode": "chose",
                                            "label": "Main feed"
                                        },
                                        "isReshareDisabledByAuthor": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "linkedin2"
                                            },
                                            "label": "My LinkedIn connection (Abdoulaye Diop, Ph.D.)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:linkedin2,linkedin-openid",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "mentions",
                                        "spec": [
                                            {
                                                "name": "entity",
                                                "type": "select",
                                                "label": "Entity",
                                                "options": [
                                                    {
                                                        "label": "Person",
                                                        "value": "member",
                                                        "nested": [
                                                            {
                                                                "help": "For example, `urn:li:person:1234`. Only mention someone with a connection to the authenticated user.",
                                                                "name": "urn",
                                                                "type": "text",
                                                                "label": "Entity URN",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Company",
                                                        "value": "company",
                                                        "nested": [
                                                            {
                                                                "help": "For example, `urn:li:organization:123456`.",
                                                                "name": "urn",
                                                                "type": "text",
                                                                "label": "Entity URN",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Entity Name",
                                                "required": true
                                            },
                                            {
                                                "name": "start",
                                                "type": "number",
                                                "label": "Start",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Mentions"
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Media Type",
                                        "validate": {
                                            "enum": [
                                                "ARTICLE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "visibility",
                                        "type": "select",
                                        "label": "Visibility",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "PUBLIC",
                                                "CONNECTIONS",
                                                "LOGGED_IN"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "feedDistribution",
                                        "type": "select",
                                        "label": "Feed Distribution",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "MAIN_FEED",
                                                "NONE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "isReshareDisabledByAuthor",
                                        "type": "boolean",
                                        "label": "Is Reshare Disabled",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 67,
                            "module": "regexp:Replace",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "text": "{{18.Contenu}}",
                                "value": " ",
                                "global": false,
                                "pattern": "[#*]+",
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 533,
                                    "y": -240
                                },
                                "restore": {
                                    "expect": {
                                        "global": {
                                            "mode": "chose"
                                        },
                                        "multiline": {
                                            "mode": "chose"
                                        },
                                        "sensitive": {
                                            "mode": "chose"
                                        },
                                        "singleline": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "New value"
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 38,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{split(67.text; newline)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 873,
                                    "y": -412
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 71,
                            "module": "placid-app:createImage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3050263
                            },
                            "mapper": {
                                "quote": {
                                    "p_2e1546c931b9f0eee7d8ed46fac085aa": "{{38.value}}"
                                },
                                "author": {},
                                "template": {},
                                "image_modifications": {},
                                "template_integromat": "hj3lypylkedjg",
                                "placid_queue_request": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1266,
                                    "y": -260
                                },
                                "restore": {
                                    "expect": {
                                        "quote": {
                                            "nested": {
                                                "p_86138ac97647803f04b57605f832b739": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "author": {
                                            "nested": {
                                                "p_d73e4579466ffc1202bfbb34423abc81": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "template": {
                                            "nested": {
                                                "p_5db8d47404d60c5cedc33d76bc480643": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "template_integromat": {
                                            "mode": "chose",
                                            "label": "Meshy Quote"
                                        },
                                        "placid_queue_request": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "placid-app"
                                            },
                                            "label": "My Placid connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:placid-app",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "template_integromat",
                                        "type": "select",
                                        "label": "Template",
                                        "required": true
                                    },
                                    {
                                        "name": "template_integromat",
                                        "type": "select",
                                        "label": "Template",
                                        "required": true
                                    },
                                    {
                                        "name": "template",
                                        "spec": [
                                            {
                                                "name": "p_5db8d47404d60c5cedc33d76bc480643",
                                                "type": "boolean",
                                                "label": "Transparent"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Template"
                                    },
                                    {
                                        "name": "quote",
                                        "spec": [
                                            {
                                                "name": "p_2e1546c931b9f0eee7d8ed46fac085aa",
                                                "type": "text",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "p_fc3460f3af0b7287698e72cce990dcbf",
                                                "type": "color",
                                                "label": "Text Color"
                                            },
                                            {
                                                "name": "p_9a318b1084a5bd55dbb0fb87e3b68fda",
                                                "type": "text",
                                                "label": "Font"
                                            },
                                            {
                                                "name": "p_86138ac97647803f04b57605f832b739",
                                                "type": "boolean",
                                                "label": "Hide Layer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Quote"
                                    },
                                    {
                                        "name": "author",
                                        "spec": [
                                            {
                                                "name": "p_2246a798e6e5e193174c88600c4abe33",
                                                "type": "text",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "p_f8e73cbc2ec0e2ee899ec1bec734c33f",
                                                "type": "color",
                                                "label": "Text Color"
                                            },
                                            {
                                                "name": "p_374045c3b1a7e37b9a8e569a39bc2af7",
                                                "type": "text",
                                                "label": "Font"
                                            },
                                            {
                                                "name": "p_d73e4579466ffc1202bfbb34423abc81",
                                                "type": "boolean",
                                                "label": "Hide Layer"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "image_modifications",
                                        "spec": [
                                            {
                                                "name": "width",
                                                "type": "integer",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "integer",
                                                "label": "Height"
                                            },
                                            {
                                                "name": "filename",
                                                "type": "text",
                                                "label": "Output Filename"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image Output Modifications"
                                    },
                                    {
                                        "name": "placid_queue_request",
                                        "type": "boolean",
                                        "label": "Queue Request"
                                    },
                                    {
                                        "name": "placid_passthrough",
                                        "type": "text",
                                        "label": "Passthrough Text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 39,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 38,
                                "target": "37.files"
                            },
                            "mapper": {
                                "image_url": "{{71.image}}",
                                "user_tags": [],
                                "media_type": "IMAGE"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1726,
                                    "y": -502
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Iterator [38]"
                                        },
                                        "target": {
                                            "label": "Files"
                                        }
                                    },
                                    "expect": {
                                        "__IMTTARGET__": {
                                            "nested": {
                                                "user_tags": {
                                                    "mode": "chose"
                                                },
                                                "media_type": {
                                                    "mode": "chose",
                                                    "label": "Image"
                                                }
                                            }
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "media_type",
                                        "type": "select",
                                        "label": "Media Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "IMAGE",
                                                "VIDEO"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "image_url",
                                        "type": "url",
                                        "label": "Photo URL",
                                        "required": true
                                    },
                                    {
                                        "name": "user_tags",
                                        "spec": [
                                            {
                                                "name": "username",
                                                "type": "text",
                                                "label": "Username",
                                                "required": true,
                                                "validate": {
                                                    "pattern": "^(?!@)"
                                                }
                                            },
                                            {
                                                "name": "x",
                                                "type": "number",
                                                "label": "X position",
                                                "required": true,
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "y",
                                                "type": "number",
                                                "label": "Y position",
                                                "required": true,
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "User Tags"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 37,
                            "module": "instagram-business:CreateCarouselPhoto",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2957457
                            },
                            "mapper": {
                                "files": "{{39.array}}",
                                "caption": "{{18.Contenu}}",
                                "accountId": "17841445809272047"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2289,
                                    "y": -430
                                },
                                "restore": {
                                    "expect": {
                                        "files": {
                                            "mode": "edit"
                                        },
                                        "accountId": {
                                            "mode": "chose",
                                            "label": "StellaIntelligence (@tomorrowlogies)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "My Facebook connection (Raf Diop)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "accountId",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "files",
                                        "spec": [
                                            {
                                                "name": "media_type",
                                                "type": "select",
                                                "label": "Media Type",
                                                "options": [
                                                    {
                                                        "label": "Image",
                                                        "value": "IMAGE",
                                                        "nested": [
                                                            {
                                                                "help": "**Photo Requirements**\n- Maximum file size: 8MiB\n- Aspect ratio: Must be within a 4:5 to 1.91:1 range\n- Minimum width: 320 (will be scaled up to the minimum if necessary)\n- Maximum width: 1440 (will be scaled down to the maximum if necessary)\n- Height: Varies, depending on width and aspect ratio\n- Formats: JPEG\n\nPlease note that your image must be hosted on a publicly accessible URL and you cannot host your images on Google Drive even if the file is shared publicly because Instagram API is not able to download files from Google Drive. The same applies to Dropbox URLs.",
                                                                "name": "image_url",
                                                                "type": "url",
                                                                "label": "Photo URL",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "user_tags",
                                                                "spec": [
                                                                    {
                                                                        "help": "Must not start with `@`. User must have a public Instagram account.",
                                                                        "name": "username",
                                                                        "type": "text",
                                                                        "label": "Username",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "pattern": "^(?!@)"
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "An optional float that indicates percentage distance from left edge of the published media image.",
                                                                        "name": "x",
                                                                        "type": "number",
                                                                        "label": "X position",
                                                                        "default": "0.0",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 1,
                                                                            "min": 0
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "An optional float that indicates percentage distance from top edge of the published media image.",
                                                                        "name": "y",
                                                                        "type": "number",
                                                                        "label": "Y position",
                                                                        "default": "0.0",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "max": 1,
                                                                            "min": 0
                                                                        }
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "User Tags"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "label": "Video",
                                                        "value": "VIDEO",
                                                        "nested": [
                                                            {
                                                                "help": "**Photo Requirements**\n- Maximum file size: 100MiB\n- Picture size:\n  ・ Maximum columns (horizontal pixels): 1920\n  ・ Minimum aspect ratio [cols / rows]: 4 / 5\n  ・ Maximum aspect ratio [cols / rows]: 16 / 9\n- Duration: 60 seconds max, 3 seconds min\n- Container: MOV or MP4 (MPEG-4 Part 14), no edit lists, moov atom at the front of the file\n- Frame rate: 23-60 FPS\n- Video codec: HEVC or H264, progressive scan, closed GOP, 4:2:0 chroma subsampling\n- Video bitrate: VBR, 5Mbps maximum\n- Audio codec: AAC, 48khz sample rate maximum, 1 or 2 channels (mono or stereo)\n- Audio bitrate: 128kbps\n\nPlease note that your video must be hosted on a publicly accessible URL and you cannot host your videos on Google Drive even if the file is shared publicly because Instagram API is not able to download files from Google Drive. The same applies to Dropbox URLs.",
                                                                "name": "video_url",
                                                                "type": "url",
                                                                "label": "Video URL",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "Location, in seconds, of the video frame to be used as the cover.",
                                                                "name": "thumb_offset",
                                                                "type": "number",
                                                                "label": "Cover Frame"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Files",
                                        "required": true,
                                        "validate": {
                                            "maxItems": 10,
                                            "minItems": 2
                                        }
                                    },
                                    {
                                        "name": "caption",
                                        "type": "text",
                                        "label": "Caption"
                                    },
                                    {
                                        "name": "location_id",
                                        "type": "text",
                                        "label": "Location ID"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 32,
                    "text": "",
                    "filter": false
                }
            ]
        },
        "zone": "eu2.make.com"
    }
}